.wrapper {
  margin: 0 101px;
  max-width: 1300px;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 386px);
  justify-content: space-between;
  grid-gap: 0 40px;
}
