.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 114px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
  color: #1d1f22;
  padding: 0px 20px;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #1d1f22;
  font-size: 18px;
  line-height: 160%;
  min-height: 40px;
  width: 100%;
}

.currencies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}

.minicartIcon {
  position: relative;
  display: flex;
}

.minicartBadge {
  width: 20px;
  height: 20px;
  background: #1d1f22;
  border-radius: 60px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(12px, -9px);
  z-index: -1;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.currencyList {
  width: 114px;
  padding: 12px 0px;
  visibility: visible;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  background-color: #ffffff;
}

.currencyItem {
  width: 100%;
  height: 45px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.currencyItem.active {
  background-color: #eeeeee;
}
