.header {
  position: sticky;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 29px 101px 0 101px;
  z-index: 10;
}

.header > img {
  display: flex;
  width: 41px;
  height: 41px;
  top: calc(50% - 41px / 2 + 4.5px);
}
